@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap");

code {
  font-family: "Fira Code", monospace;
}

.cursor-pointer {
  cursor: pointer;
}

.image-16x9 {
  position: relative;
  padding-bottom: 56.2%;
}

.image-16x9 img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
